name: CI

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]

jobs:

  validate:
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/kamishimoemon/php:7.4-composer

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist

      - name: Validate composer.json
        run: composer validate --strict


  test:
    needs: validate
    runs-on: ubuntu-latest

    container:
      image: ghcr.io/kamishimoemon/php:7.4-composer

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist

      - name: Run tests
        run: vendor/bin/phpunit
